{% extends 'base.html' %}
{% load static %}
{% block title%} Dashboard {% endblock title %}
{% block body %}

<nav class="navbar navbar-expand-lg " style="background: #ffbfde;">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">

    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
                <button class="btn mr-5 bg-light">Your Dashboard</button>
                <img class="img-fluid thumbnail  " src="{% static 'images/1.png' %}" width="3%"/>

            </li>
            <li class="nav-item">
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-auto mr-5">

            <img class="img-fluid ml-auto  bg-light p-2 rounded" src="{% static 'images/question.png' %}" width="7%"/>

        </form>
    </div>
</nav>

<div class="container-fluid" style="background: #ffbfde;">
    <div class="container bg-light " style="border-radius: 40px; ">
        <div class="row pt-3 text-center vertical-divider">
            <div class="col-md-2 ml-2  border-right ">
                <div class=" btn " style="background:#E5E2E1; border-radius: 10px;">All Clients</div>
                <hr>
                <label>Sort By ></label>
                <hr>
                <div class="row pb-1">
                    <button class=" btn btn-block mr-2" style="background:#E5E2E1; border-radius: 10px;">Date</button>
                </div>
                <div class="row pb-1">
                    <button class="mr-2 btn btn-block" style="background:#E5E2E1; border-radius: 10px;">Patient ID</button>
                </div>
                <div class="row pb-1">
                    <button class=" btn mr-2 btn btn-block" style="background:#E5E2E1; border-radius: 10px;">Scheduled Time
                    </button>
                </div>
                <div class="row pb-5">
                    <button class=" btn btn mr-2 btn-block" style="background:#E5E2E1; border-radius: 10px;">Status</button>
                </div>
            </div>
            <div class="col-md-9 ml-auto  pr-5 text-center">
                <div class="input-group">
                    <input class="form-control " placeholder="Search for patient" style="background:#E5E2E1; border-radius: 10px" type="text">
                    <div class="input-group-append">
                        <button class="btn" style="background:#E5E2E1;" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <button class="btn d" style="background:#E5E2E1;"> Current Location & Address</button>
                <!--Static titles-->
                <div class="row mt-1" style="background:#E5E2E1; border-radius: 20px;">
                    <div class="col-md-2 ml-auto  text-center">
                        <label>Patient ID </label>
                    </div>
                    <div class="col-md-2 ml-auto  text-center">
                        <label>Location </label>
                    </div>
                    <div class="col-md-2 ml-auto  text-center">
                        <label>Patient Info </label>
                    </div>
                    <div class="col-md-2 ml-auto text-center">
                        <label>Schedule Time</label>
                    </div>
                    <div class="col-md-2 ml-auto text-center">
                        <label>Status</label>
                    </div>
                </div>
                <!--Input Content from data base-->
                <div class="row mt-1 pt-4 pb-2 " style="background:#E5E2E1; border-radius: 20px;">
                    <div class="col-md-2 ml-auto  text-center">
                        <label>Patient ID </label>
                    </div>
                    <div class="col-md-2 ml-auto text-center">
                        <label>Location </label>
                    </div>

                    <div class="col-md-1 ml-auto  text-center">
                        <img class="img-fluid thumbnail  " src="{% static 'images/emoji.png' %}" width="100%"/>
                    </div>
                    <div class="col-md-2 ml-auto  text-center">
                        <div class="row text-center">
                            <label class=""> Patient Info </label>
                        </div>
                        <div class="row text-center">
                            <a class="row text-center" href="#">Click to expand > </a>
                        </div>
                    </div>
                    <div class="col-md-2 ml-auto text-center">
                        <label>Schedule Time</label>
                    </div>
                    <div class="col-md-2 ml-auto text-center">
                        <label>Status</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body%}
