{% extends 'base.html' %}

{% block title%} Policy{% endblock title %}
{% block body %}
<div class="rounded">
    <center><h2> Policy</h2></center>
    <p>
        We’re constantly developing new technologies and features to improve our services. For example, we invest in artificial intelligence that uses
        machine learning to detect and block spam and malware, and to provide you with innovative features,
        like simultaneous translations. As part of this continual improvement, we sometimes add or remove features and functionalities, increase or decrease limits to our services,
        and start offering new services or stop offering old ones.
        If we make material changes that negatively impact your use of our services or if we stop offering a service,
        we’ll provide you with reasonable advance notice and an opportunity to export your content from your Google Account using Google Takeout,
        except in urgent situations such as preventing abuse, responding to legal requirements, or addressing security and operability issues.
        We’re constantly developing new technologies and features to improve our services. For example, we invest in artificial intelligence that uses
        machine learning to detect and block spam and malware, and to provide you with innovative features,
        like simultaneous translations. As part of this continual improvement, we sometimes add or remove features and functionalities, increase or decrease limits to our services,
        and start offering new services or stop offering old ones.
        If we make material changes that negatively impact your use of our services or if we stop offering a service,
        we’ll provide you with reasonable advance notice and an opportunity to export your content from your Google Account using Google Takeout,
        except in urgent situations such as preventing abuse, responding to legal requirements, or addressing security and operability issues.

    </p>
</div>
{% endblock body%}